/* =================================
Base Styles
==================================== */

/*body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /*creates sticky footer in conjunction with base.css .footer {margin-top = auto}*/


/* =================================
  Media Queries
==================================== */

@media (min-width: 786px) {
  .main-header,
  .main-nav {
    display: flex;
  }

  .main-header {
    flex-direction: column;
    align-items: center;
  }


  .photo-boxes-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
    width: 50%;
  }
/*
  .boxNav {
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 400px;
  }*/

  .boxL{
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  .boxR {
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
  }

}

@media (min-width: 1298px) {
  .main-header{
    flex-direction: row;
    justify-content: space-between;
    /*allows separation between .name and .main-nav*/
  }
  .main-nav li:nth-of-type(6) {
    margin-right: 15px;
  }
  /*Creates space between last nav item and right edge of viewport.
  Would need to be altered if more nav list items are created!!*/

  .col {
    display: inline-flex;
    flex-direction: column;
    width: 40%;
  }


}
