{% extends 'main.twig' %}

{% block content %}
  <strong>About</strong>
      <h2>Heinrich Schenker</h2>

      <p>Heinrich Schenker <em>(June 19, 1868 – January 14, 1935)</em> was a music
        theorist, music critic, teacher, pianist, and composer, best known for his
        approach to musical analysis, now usually called Schenkerian analysis.</p>

      <p>Schenker was born in Wisniowczyki, Austrian Galicia (present-day Ukraine)
        in 1868 to Johann Schenker and his wife Julia.  Schenker was the fifth of six siblings.</p>

      <p>In 1884, Schenker received a scholarship to move to Vienna where he pursued a
        law degree.  In addition to his studies at the University of Vienna, he was also
        enrolled at the Konservatorium of the Gesellschaft der Musikfreunde (today
        University of Music and Performing Arts, Vienna) from 1887 through 1890.
        After graduating the University of Vienna with a law degree, Schenker devoted
        himself entirely to music. His first major opportunity came with Maximilian
        Harden, editor of Die Zukunft [The Future] who published his earliest writings.
        Publications in other periodicals followed.</p>

      <p>In the final decade of the 19th century Schenker was also active on the concert
        stage. He did not give solo recitals but participated as an accompanist or participant
        in chamber music, occasionally programming his own works.</p>

      <p>Having failed to gain recognition as a composer, conductor, and accompanist,
        by 1900 he shifted his focus increasingly on problems of musical editing and music theory.</p>

      <p>Between 1913 and 1921, Schenker brought out an explanatory edition of four of
        the last five Beethoven sonatas. In 1908, Schenker had hoped for an appointment
        at the Akademie für Musik und darstellende Kunst (today the University of Music
        and Performing Arts, Vienna). However, the conflict between his beliefs and the
        need to compromise to work within an academic system ultimately thwarted the opportunity.</p>

      <p>Even towards the end of life, Schenker worked steadily. He corrected proofs for
        Free Composition from December 16 to 23, 1934. Schenker died on January 14,
        age 67 at 2 AM, the cause of death listed as diabetes and arteriosclerosis. </p>

      <p><em>Learn more about Heinrich Schenker from <a href="https://en.wikipedia.org/wiki/Heinrich_Schenker">Wikipedia</a></em></p>
{% endblock content %}
