{% extends 'main.twig' %}

{% block content %}
    <strong>Contact</strong>
    <h2>Russell Kahmann</h2>

    <p>Although this site is still in progress, feel free to send me a test Email with any
      comments or issues about the site thus far.</p>

    <form action="" method="post">
      <fieldset>
        <input name="name" type="text" placeholder="Full Name">
        <input name="email" type="email" placeholder="Email Address">
        <textarea name="msg" placeholder="Your message..."></textarea>
      </fieldset>
      <input type="submit" class="button">
    </form>

{% endblock content %}
